@model SEDC.PracticalAspNet.Business.Model.DtoMenu

@{
    ViewBag.Title = "Details";
}

<h2>@Model.MenuName</h2>
<hr />
<h2>
    categories:
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCategoryModal">
        Add
    </button>
</h2>

<div id="app">

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<!--create category modal goes here-->
<div id="createCategoryModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--modal  header goes here-->
                <h5 class="modal-title">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--modal  body goes here-->
                <form id="form_createCategory" action="/asdasdasd" method="post">
                    <input type="hidden" name="menuId" value="@Model.Id" />
                    <div class="form-group">
                        <label for="categoryName">Category Name</label>
                        <input type="text" name="categoryName" class="form-control" placeholder="Category Name" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_createCategory" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        // A $( document ).ready() block.
        $(document).ready(function () {

            var App = function () {
                var _this = this;
                this.divId = "app";
                this.appDiv = null;
                var _state = {};

                this.renderAccordionBeginning = function () {

                }

                this.renderCategory = function (category) {
                    var result = "not implemented";

                    //TODO: implement rendering the category

                    return result;
                };

                this.renderAccordionItems = function () {
                    var result = "";
                    if (_state && _state.categories && _state.categories.length) {
                        $.each(_state.categories, function (category, index) {
                            result += this.renderCategory(category);
                        });
                    }
                    return result;
                };

                this.renderAccordionEnding = function () {

                }

                this.init = function () {
                    _this.appDiv = $("#" + _this.divId);
                    if (!_this.appDiv.length) {
                        throw new Error(`div with the given id "${_this.divId}" was not found`);
                    }
                    _state.categories = [];
                    _this.render();
                };

                this.render = function () {
                    var accordionBeginning = _this.renderAccordionBeginning();
                    var accordionEnding = _this.renderAccordionEnding();
                    var accordionItems = _this.renderAccordionItems();
                };
            }
            var app = new App();
            app.divId = "app";
            app.init();
        });



        $('#myModal').on('shown.bs.modal', function () {
            //$('#myInput').trigger('focus')
        });    

//var createCategoryUrl = '/categories/create';
//var getCategoriesUrl = '/categories';
//var btn_createCategory = $("#btn_createCategory");
//form_createCategory = $("#form_createCategory")[0];
    </script>
}
